/*
 * Base structure
 */

main > .container {
  padding: 60px 15px 0;
}

html,
body {
  height: 100%;
  /*background-image: url("../images/bg.png");*/
  background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
