/*
 * Base structure
 */

main > .container {
  padding: 60px 15px 0;
}

html,
body {
  height: 100%;
  /*background-image: url("../images/bg.png");*/
  background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/bg3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#view {
  background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/bg4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.form-select:focus, .form-select:active:focus, .form-select.active:focus,
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none;
  box-shadow: none;
}

.form-switch:focus, .form-check-input:focus {
  outline: none;
  box-shadow: none;
}


label.filebutton {
  width:120px;
  height:40px;
  overflow:hidden;
  position:relative;
  background-color:#ccc;
}

label span input {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  top: -2px;
  left: -700px;
  opacity: 0;
  filter: alpha(opacity = 0);
  -ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding:0;
}