<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/7b36b4a9b2.js" crossorigin="anonymous"></script>

  <!-- Main styles for this application-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/primary.css') }}">

</head>

<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Uber HackTag</a>
      <div class="navbar-right">
        <a class="btn btn-outline-light" href="rider">Rider View</a>
        <a class="btn btn-outline-light" href="#">Driver View</a>
      </div>
    </div>
  </nav>
  </header>

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <div class="container">
      {% block main %}{% endblock %}
    </div>
  </main>

  <footer class="footer mt-auto py-3 bg-dark">
    <div class="container justify-content-center">
      <div class="text-muted text-center">Team NaN (Animesh Jha, Neha Dalmia, Nisarg Upadhyaya)</div>
    </div>
  </footer>
  <!-- <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
    <p class="h5 my-0 me-md-auto fw-bold">UBER</p>
    <nav class="my-2 my-md-0 me-md-3">
      <a class="p-2 text-dark" href="#">Features</a>
      <a class="p-2 text-dark" href="#">Enterprise</a>
      <a class="p-2 text-dark" href="#">Support</a>
      <a class="p-2 text-dark" href="#">Pricing</a>
    </nav>
    <a class="btn btn-outline-dark" href="#">Sign up</a>
  </header>
  <main class="container">
  </main> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script> -->
  <!-- <script src="https://unpkg.com/@popperjs/core@2"></script> -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>

</html>