{% extends "basetemplate.html" %}

{% block title %}Driver{% endblock %}

{% block main %}
<div class="row justify-content-center my-5">
    <div class="card shadow overflow-auto px-0" style="width: 30rem; height: 34rem;" id="view">
        <div class="card-body d-flex flex-column">
            <!-- <button class="btn btn-dark mt-auto align-self-center" onclick="myfunc()"
                style="width: fit-content;">Request now</button> -->
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% endblock %}