{% extends "basetemplate.html" %}

{% block title %}Rider{% endblock %}

{% block main %}

<div class="row justify-content-center my-5">
    <div class="card shadow overflow-auto px-0" style="width: 30rem; height: 34rem;" id="view">
        <div v-if="!showmap" class="card-body d-flex flex-column">
            <div class="row mt-auto" style="padding-top: 4rem;">
                <div class="col px-1">
                    <div class="form-floating">
                        <select class="form-select" id="pickup" aria-label="Select pickup location"
                            style="background-color: rgb(231, 231, 231); border-color: rgb(231, 231, 231); border-radius: 0;">
                            <option value="1" selected>[[pickup1]]</option>
                            <option value="2">[[pickup2]]</option>
                        </select>
                        <label for="floatingSelect">Select pickup</label>
                    </div>
                </div>
                <div class="col px-1">
                    <div class="form-floating">
                        <select class="form-select" id="dropoff" aria-label="Select destination"
                            style="background-color: rgb(231, 231, 231); border-color: rgb(231, 231, 231); border-radius: 0;">
                            <option value="1" selected>[[dropoff1]]</option>
                            <option value="2">[[dropoff2]]</option>
                        </select>
                        <label for="floatingSelect">Select destination</label>
                    </div>
                </div>
            </div>
            <div class="row mt-1"
                style="background-color: orange; margin-left: -0.5rem; margin-right: -0.5rem; border-radius: 1rem;">
                <div class="col-2">
                    <i class="fas fa-info-circle" style="padding-top: 0.3rem; color: white;" data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Enter details about ride for cause here to show in this tooltip"></i>
                </div>
                <div class="col-8 text-white text-center">
                    RIDE FOR A CAUSE
                </div>
                <div class="col-2">
                    <div class="form-check form-switch" style="margin-left: 1rem;">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                            style="border-color: orange;">
                        <!-- <label class="form-check-label" for="flexSwitchCheckDefault"></label> -->
                    </div>
                </div>
            </div>
            <button v-on:click="requestRide()" class="btn btn-dark mt-auto align-self-center"
                style="width: fit-content;">Request now</button>
        </div>
        <div v-if="showmap" class="card-body d-flex flex-column">
            <div class="jumbotron">
                <h3 class="display-4 mb-3">RIDE DETAILS</h3>
                <h5 class="mb-3">From <span style="font-weight: 700;">[[pickuploc]]</span> to <span style="font-weight: 700;">[[dropoffloc]]</span></h5>
                <h5 class="mb-0" style="font-weight: 500;">Base fare: [[base_fare]] </h5>
                <h5><span v-if="rfc" class="badge bg-info text-white">Ride for cause fare: [[extra_fare]]</span></h5>
                <hr class="my-4">
            </div>
            <!-- <h1>Ride Details</h1>
            <div id="fare">
            </div>
            <p>From: [[pickuploc]]</p>
            <p>To: [[dropoffloc]]</p> -->
            <div class="embed-responsive embed-responsive-16by9 align-self-center mt-auto">
                <iframe class="embed-responsive-item" v-bind:src="plot_url" style="height:200px;width:300px;"
                    v-bind:title="plot_url"></iframe>
            </div>
            <button v-on:click="confirmRide()" class="btn btn-dark mt-auto align-self-center" style="width: fit-content;">Confirm</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/js/rider.js"></script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% endblock %}